@model ProjectsPageViewModel
@{
    ViewData["Title"] = "Projects";
}

@if (@ViewBag.DeletedMessage != null)
{
    <h3 class="deletion-notification">@ViewBag.DeletedMessage</h3>
}

<h2 class="main-title">@Model.Company.CompanyName</h2>

<section class="dashboard">
    @if (@Context.Session.GetInt32("RoleID") == 1)
    {
        <div class="add-project">
            <a asp-action="Create" class="add-button"><i class="fas fa-plus"></i></a>
            <div class="add-project__text">Create new project</div>
        </div>
    }
    @if (Model.Projects.Count() > 0)
    {
        @foreach (var item in Model.Projects)
        {
            <section class="project-list-parent">
                @if (@Context.Session.GetInt32("RoleID") == 1)
                {
                    <div class="admin-buttons">
                        <a class="admin-edit" asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a>
                        <a class="admin-delete" asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                    </div>
                }
                <a class="project-list__item-box" asp-action="Details" asp-route-id="@item.ProjectId">
                    <div class="detail"><small>Project @item.ProjectId</small></div>
                    <div class="detail"><b>@item.ProjectName</b></div>
                    <div class="detail"><small>Deadline: @item.ProjectDeadline</small></div>

                    @if (item.TotalTasks != 0)
                    {
                        <div class="progress-wrap progress" data-progress-percent="@item.ProgressBar">
                            <div class="progress-bar progress"></div>
                        </div>
                    }
                    else
                    {
                        <div class="progress-wrap progress" data-progress-percent="0">
                            <div class="progress-bar progress">No tasks yet!</div>
                        </div>
                    }
                </a>
            </section>
        }
    }
    else
    {
        <div class="main-title">No projects, Rest well!</div>
    }
</section>
<script src="~/js/progress_bar.js" asp-append-version="true"></script>

