@model IEnumerable<TaskManagement.Models.Comment>
<ul class="comments-list">
    <h4 class="main-title">Comments</h4>
    @if (Model.Count() == 0)
    {
        <small class="disclaimer">No comments yet</small>
    }
    @foreach (var item in Model)
    {
        <li class="comments-list__item">
            <div class="person-info">
                <span><img class="person-image" src="@item.CommentAccount.AccountImageLink" alt="Alternate Text" /></span>
                <span>@item.CommentAccount.AccountUserFirstName</span>
            </div>
            <div class="comment-details">
                <span>@item.CommentText</span>
            </div>
            @if (item.CommentAccountId == @Context.Session.GetInt32("AccID"))
            {
                <a title="Delete" class="comment-delete" asp-controller="Comment" asp-action="Delete" asp-route-id="@item.CommentId"><i class="fas fa-trash-alt"></i></a>
            }
        </li>
    }
</ul>

